* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    caret-color: blue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    background-color: #192a56;
    color: #fbc531;
    padding: 10px;
    border-radius: 10px;
}

.container {
    padding: 30px;
    height: 490px;
    width: 500px;
    background-color: #F8EFBA;
    border-radius: 10px;
}

.container label {
    color: #3B3B98;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.container input {
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    outline: unset;
    border-radius: 5px;
    border: .5px solid black;

}

.container .btn {
    margin-top: 30px;
    cursor: pointer;
    background-color: #0652DD;
    color: whitesmoke;
    margin-bottom: 30px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;

}

.container .btn:hover {
    background-color: #023696;
}